* {
  background-color: rgb(18, 18, 18);
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  text-align: center;
  width: 100%;
}

.text-login {
  color: white;
  font-size: 5em;
}

.nameUser {
  background-color: rgb(61, 59, 59);
  border-radius: 15px;
  color: white;
  display: block;
  font-size: xx-large;
  margin: auto;
  margin-top: 1em;
  padding: 15px;
  text-align: center;
  width: 30em;
}

.btnLogin {
  background-color: azure;
  border-radius: 15px;
  font-size: xx-large;
  font-weight: 900;
  margin: 40px auto;
  padding: 20px 60px;
}

.btnLogin:hover {
  background-color: rgb(28, 202, 89);
  cursor: pointer;
  transition: 1500ms;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  text-align: center;
  width: 100%;
}

.music {
  background-color: white;
  border-radius: 15px;
  font-size: large;
  font-weight: 550;
  padding: 15px;
  text-align: center;
  width: 25em;
}

.btnSearch {
  background-color: white;
  border-radius: 15px;
  color: black;
  font-size: x-large;
  font-weight: 900;
  margin: 1.5em;
  padding: 15px 40px;
}

.btnSearch:hover {
  background-color: rgb(28, 202, 89);
  cursor: pointer;
  transition: 600ms;
}

.not {
  color: white;
  font-size: x-large;
  margin-left: 2em;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  border-radius: 8px;
  color: white;
  font-size: larger;
  font-weight: 900;
  margin-top: 1em;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.nav:hover {
  background-color: #282828;
  transition: 800ms;
}

.user {
  color: rgb(28, 202, 89);
  font-size: 3em;
  margin-top: 0.5em;
}

.cardAlbum {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.card {
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 20em;
}

.img {
  margin: 0 auto;
  text-align: center;
  width: 12em;
}

.result {
  color: white;
  font-size: xx-large;
  margin: 3em;
}

.albumLink {
  border-radius: 70px;
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.albumLink:hover {
  background-color: rgb(100, 109, 103);
}

.cardMusic {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  text-align: center;
}

.insideMusic {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 7em;
  justify-content: center;
}

.insideMusic h4 {
  font-size: x-large;
  font-style: oblique;
}

.insideMusic audio {
  width: 80em;
}

.addFav {
  font-size: large;
  margin-left: 1em;
  margin-top: 1.5em;
}

.album h1 {
  color: white;
  font-style: oblique;
  margin-top: 3em;
  text-align: center;
}

.album h2 {
  color: white;
  font-style: oblique;
  text-align: center;
}

.favorite {
  color: white;
  margin-top: 5em;
}

.loading {
  animation: is-rotating 1.3s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: rgb(28, 202, 89);
  height: 30px;
  margin: 0 auto;
  margin-top: 1.3em;
  width: 30px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

.formsProfile {
  border-radius: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.formsProfile label input {
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 0.5em;
  margin: 1em;
  width: 25em;
}

.formsProfile label {
  font-size: x-large;
  font-weight: bold;
}

.formsProfile button {
  margin-top: 2em;
  width: 10em;
  padding: 0.5em;
  border-radius: 15px;
  background-color: white;
  color: black;
  background-color: rgb(28, 202, 89);
  font-size: x-large;
  font-weight: bold;
}

.formsProfile button:hover {
  cursor: pointer;
  transition: 1000ms;
  zoom: 110%;
}

.profile {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  color: white;
  background-image: url('./image/imgBackground.jpg');
}

.profile img {
  width: 15%;
  border-radius: 50%;

}

.profile h3 {
  margin: 1em;
  font-size: xx-large;
  background-color: transparent;
}

.profile p {
  margin: 1em;
  font-size: x-large;
  background-color: transparent;
}

.linkProfile {
  font-style: none;
  font-size: x-large;
  color: white;
  font-weight: bolder;
  margin-left: 1em;
}

.linkProfile:hover {
  color: rgb(28, 202, 89);
  transition: 500ms;
  cursor: pointer;
}
